@use './colors' as col; //added myself to make it work

@mixin burgerBtn {
	position: absolute;
	content: '';
	right: 0;
	height: 3px;
	background-color: col.$pure-white;
	// background-color: red;
	transition: width 0.3s;
}

@mixin heroImages($bgImg){
	background-image: col.$blue-gradient, url($bgImg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}